@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-stone-300 dark:bg-neutral-700 rounded-full;
  }
}